{% extends 'base.html.twig' %}

{% block title %}Contact - {{ parent() }}{% endblock %}

{% block meta %}
    <meta name="description" content="Besoin d'informations ? Remplissez notre formulaire de contact">
    <meta property="og:title" content="Contact - D-Blokés" />
    <meta property="og:description" content="Besoin d'informations ? Remplissez notre formulaire de contact" />
    <meta property="og:url" content="{{ path('app_contact') }}" />
    {{ parent() }}
{% endblock %}

{% block body %}
    <section class="container__large"
             style="background-image: linear-gradient(rgba(0,0,0,0.6) 50%, rgba(0,0,0,0)), url({{ asset('images/contact.webp') }}); background-position: center; background-size: cover;">
        <div class="container container__top flex col align--center justify--center gap--4 primary-light">
            <h1 class="blaak">Besoin<br> d'infos ?</h1>
        </div>
    </section>
    <section class="container__large secondary-light--bg flex col align--center">
        <div class="container flex row gap--20 justify--space-between col-mobile gap-large-mobile border--bottom border-stroke-dark">
            <div class="w--50 w-100-mobile">
                <h3>Remplissez notre <br> formulaire de contact</h3>
            </div>
            <div class="w--50 flex col gap--4 w-100-mobile">
                <div class="grid grid--2 grid--1-mobile grid-gap--4">
                    <label class="form-label" for="lastname">
                        Nom*
                        <input id="lastname" class="form-input" type="text">
                    </label>
                    <label class="form-label" for="firstname">
                        Prénom*
                        <input id="firstname" class="form-input" type="text">
                    </label>
                    <label class="form-label" for="email">
                        Email*
                        <input id="email" class="form-input" type="email">
                    </label>
                    <label class="form-label" for="tel">
                        Téléphone*
                        <input id="tel" class="form-input" type="text">
                    </label>
                </div>
                <label class="form-label" for="message">
                    Message
                    <textarea class="form-textarea" name="message" id="message" cols="30" rows="10"></textarea>
                </label>
                <button class="btn btn__lg">Envoyer</button>
            </div>
        </div>
    </section>
{% endblock %}
