{% extends 'base.html.twig' %}

{% block title %}Granitkipik - {{ parent() }}{% endblock %}

{% block meta %}
    <meta name="description" content="On vous donne bientôt des nouvelles !">
    <meta property="og:title" content="Granitkipik - D-Blokés" />
    <meta property="og:description" content="On vous donne bientôt des nouvelles !" />
    <meta property="og:url" content="{{ path('app_festival') }}" />
    {{ parent() }}
{% endblock %}

{% block body %}
    <section class="container__large"
             style="background-image: linear-gradient(rgba(0,0,0,0.6) 50%, rgba(0,0,0,0)), url({{ asset('images/festival.webp') }}); background-position: center; background-size: cover;">
        <div class="container container__top flex col align--center justify--center gap--4 primary-light">
            <h1 class="blaak">Granitkipik</h1>
            <p class="text__l">On vous donne bientôt des nouvelles !</p>
        </div>
    </section>
{% endblock %}

