:root {
    --primary-dark: #333;
    --primary-light: #FFF;
    --secondary-light: #FCF9F0;
    --secondary-dark: #062B19;
    --secondary-green: #E2F39C;
    --secondary-orange: #FF5F10;
    --secondary-kaki: #9B941D;
    --secondary-beige: #EADDCC;
    --stroke-light: #E0E0E0;
    --stroke-dark: #3F3E3E;
    --info: #e0d94d;
    --success: #4de08d;
    --danger: #e04d4d;
}

.invert {
    filter: invert(100);
}

.primary-dark {
    color: var(--primary-dark);

    &--bg {
        background-color: var(--primary-dark);
    }
}

.primary-light {
    color: var(--primary-light);

    &--bg {
        background-color: var(--primary-light);
    }
}

.secondary-light {
    color: var(--secondary-light);

    &--bg {
        background-color: var(--secondary-light);
    }
}

.secondary-dark {
    color: var(--secondary-dark);

    &--bg {
        background-color: var(--secondary-dark);
    }
}

.secondary-green {
    color: var(--secondary-green);
    &--bg {
        background-color: var(--secondary-green);
    }
}

.secondary-orange {
    color: var(--secondary-orange);
    &--bg {
        background-color: var(--secondary-orange);
    }
}

.secondary-kaki {
    color: var(--secondary-kaki);
    &--bg {
        background-color: var(--secondary-kaki);
    }
}

.secondary-beige {
    color: var(--secondary-beige);
    &--bg {
        background-color: var(--secondary-beige);
    }
}

.stroke-light {
    color: var(--stroke-light);

    &--bg {
        background-color: var(--stroke-light);
    }
}

.stroke-dark {
    color: var(--stroke-dark);

    &--bg {
        background-color: var(--stroke-dark);
    }
}

.info {
    color: var(--info);

    &--bg {
        background-color: var(--info);
    }
}

.success {
    color: var(--success);

    &--bg {
        background-color: var(--success);
    }
}

.danger {
    color: var(--danger);

    &--bg {
        background-color: var(--danger);
    }
}