header {
    background: linear-gradient(black, transparent);
}

.header {
    &__logo {
        width: 41.06063rem;
        height: 21.125rem;
    }
    &__icon {
        cursor: pointer;
    }
    &__menu {
        position: fixed;
        background-color: var(--primary-light);
        border-radius: 1.875rem;
        top: 0.8rem;
        left: 0.8rem;
        width: calc(100% - 1.6rem);
        height: calc(100vh - 1.6rem);
        overflow: scroll;
        transform: translate(-120%, 0);
        transition: transform var(--dropdown-duration) var(--dropdown-cubic);
    }
}

@media screen and (max-width: 680px) {
    .header {
        &__logo {
            width: 100%;
            height: auto;
        }
    }
}