$duration: var(--hover-duration);

.btn {
    color: var(--primary-light);
    background-color: var(--secondary-orange);
    border-radius: 3.125rem;
    border: 1px solid var(--secondary-orange);

    font-family: "Overused Grotesk", sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0;

    padding: 0.31rem 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.1875rem;

    width: fit-content;
    height: fit-content;
    transition: background-color $duration, color $duration, border $duration;
    &:hover {
        cursor: pointer;
        background-color: var(--primary-light);
        color: var(--secondary-orange);
        border: 1px solid var(--primary-light);
    }
    &__light {
        color: var(--primary-light);
        background-color: transparent;
        border: 1px solid var(--primary-light);
        &:hover {
            cursor: pointer;
            background-color: var(--primary-light);
            color: var(--primary-dark);
        }
    }
    &__dark {
        color: var(--secondary-dark);
        background-color: transparent;
        border: 1px solid var(--secondary-dark);
        &:hover {
            cursor: pointer;
            background-color: var(--secondary-dark);
            color: var(--primary-light);
        }
    }
    &__lg {
        font-size: 1.25rem;
        padding: 0.3rem 1.6rem;
    }
}

.link {
    color: var(--primary-dark);
    background-color: unset;
    text-align: left;
    border-radius: unset;
    border-bottom: 1px solid var(--primary-dark);

    font-family: "Inter", sans-serif;
    font-size: 1.1875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.03563rem;

    padding: 0.31rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8.4375rem;

    width: fit-content;
    transition: background-color $duration, color $duration, border $duration;
    &__icon {
        width: 1.125rem;
        height: 1.125rem;
        fill: none;
        stroke: var(--primary-dark);
        transition: stroke $duration, transform $duration;
    }
    &:hover {
        cursor: pointer;
        color: var(--primary-grey);
        border-color: var(--primary-grey);
    }
    &:hover &__icon {
        stroke: var(--primary-grey);
        transform: translate(.2rem, -.2rem);
    }
    &__light {
        color: var(--primary-light);
        border-color: var(--primary-light);
        &:hover {
            color: var(--primary-grey);
            border-color: var(--primary-grey);
        }
        &__icon {
            stroke: var(--primary-light);
        }
        &:hover &__icon {
            stroke: var(--primary-grey);
        }
    }
    &__no-underline {
        border: none;
    }
}

@media screen and (max-width: 870px) {
    .link {
        font-size: 1rem;
    }
}