.icon {
    width: 1.2rem;
    height: 1rem;
    &--primary-dark {
        fill: var(--primary-dark);
    }
    &--primary-light {
        fill: var(--primary-light);
    }
    &--secondary-light {
        fill: var(--secondary-light);
    }
    &--secondary-dark {
        fill: var(--secondary-dark);
    }
    &--secondary-green {
        fill: var(--secondary-green);
    }
    &--secondary-orange {
        fill: var(--secondary-orange);
    }
    &--secondary-kaki {
        fill: var(--secondary-kaki);
    }
    &--secondary-beige {
        fill: var(--secondary-beige);
    }
    &--stroke-light {
        fill: var(--stroke-light);
    }
    &--stroke-dark {
        fill: var(--stroke-dark);
    }
    &--info {
        fill: var(--info);
    }
    &--success {
        fill: var(--success);
    }
    &--danger {
        fill: var(--danger);
    }
}

