.img {
    &__home {
        aspect-ratio: 4/3;
        width: 100%;
        border-radius: 1.875rem;
        object-fit: cover;
        object-position: center;
        &__portrait {
            aspect-ratio: 3/4;
        }
        &__poster {
            aspect-ratio: unset;
        }
    }
    &__topo {
        width: 100%;
        border-radius: 1.875rem;
    }
    &__sponsor {
        width: 120px;
        height: auto;
        &__s {
            width: 100px;
            height: auto;
        }
    }
}