<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}D-Blokés{% endblock %}</title>
        <link rel="icon" href="{{ asset('images/favicon.svg') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
    <main>
        <header class="container__large flex col align--center justify--center fixed pos-t--0 pos-l--0">
            <div class="secondary-green--bg w--100 flex row align--center justify--center p--1">
                <p class="text__s text-center">
                    Les dernières corrections du topo sont <a href="">disponibles ici</a>
                </p>
            </div>
            <div class="container__nav primary-light flex row align--center justify--space-between pt--4 pb--4">
                <div class="flex row gap--8 hide-mobile">
                    <a href="#">L'association</a>
                    <a href="#">Le topo</a>
                    <a href="#">Le festival</a>
                    <a href="#">Le shop</a>
                    <a href="#">Contact</a>
                </div>
                <div class="flex row align--center justify--center gap--4 hide-mobile">
                    <a class="btn btn__light" href="#">Adhérer à l'asso</a>
                    <a class="btn" href="#">Espace membre</a>
                </div>
                <img src="{{ asset('images/menu.svg') }}" alt="" class="header__icon display-mobile">
                <div class="header__menu display-mobile flex col align--start justify--space-between p--8 primary-dark">
                    <div class="flex col gap--4 w--100">
                        <div class="text__l header__close align-mobile--self-end pointer">
                            X Fermer
                        </div>
                        <div class="flex col gap--2 text__l">
                            <a href="#">L'association</a>
                            <a href="#">Le topo</a>
                            <a href="#">Le festival</a>
                            <a href="#">Le shop</a>
                            <a href="#">Contact</a>
                        </div>
                    </div>
                    <div class="flex col align--start justify--center gap--2">
                        <a class="btn btn__dark" href="#">Adhérer à l'asso</a>
                        <a class="btn" href="#">Espace membre</a>
                    </div>
                </div>
            </div>
        </header>
        {% block body %}{% endblock %}
        <footer class="container__large secondary-dark--bg">
            <div class="container flex col gap--11">
                <div class="flex row align--start gap--8 justify--space-between col-mobile">
                    <img class="footer__logo" src="{{ asset('images/logo.svg') }}" alt="">
                    <div class="flex row gap--8 col-mobile">
                        <div class="flex col gap--4">
                            <p class="text__m secondary-orange">
                                L'association
                            </p>
                            <div class="flex col gap--1">
                                <a href="#" class="text__s primary-light">Qui sommes-nous ?</a>
                                <a href="#" class="text__s primary-light">Les membres</a>
                                <a href="#" class="text__s primary-light">Nos projets</a>
                                <a href="#" class="text__s primary-light">Notre actu</a>
                                <a href="#" class="text__s primary-light">Nous rejoindre</a>
                            </div>
                        </div>
                        <div class="flex col gap--4">
                            <p class="text__m secondary-orange">
                                Notre topo
                            </p>
                            <div class="flex col gap--1">
                                <a href="#" class="text__s primary-light">Découvrir le topo</a>
                                <a href="#" class="text__s primary-light">Points de vente</a>
                                <a href="#" class="text__s primary-light">Commander le topo</a>
                                <a href="#" class="text__s primary-light">Corrections du topo</a>
                            </div>
                        </div>
                        <div class="flex col gap--4">
                            <p class="text__m secondary-orange">
                                Notre festival
                            </p>
                            <div class="flex col gap--1">
                                <a href="#" class="text__s primary-light">Granitkipik édition 2024</a>
                                <a href="#" class="text__s primary-light">Programme</a>
                                <a href="#" class="text__s primary-light">Contest d'escalade</a>
                                <a href="#" class="text__s primary-light">Infos pratiques</a>
                                <a href="#" class="text__s primary-light">Partenaires</a>
                            </div>
                        </div>
                        <div class="flex col gap--4">
                            <p class="text__m secondary-orange">
                                Le shop
                            </p>
                            <div class="flex col gap--1">
                                <a href="#" class="text__s primary-light">Nouveautés</a>
                                <a href="#" class="text__s primary-light">Boutique en ligne</a>
                            </div>
                        </div>
                        <div class="flex col gap--4">
                            <p class="text__m secondary-orange">
                                Espace membre
                            </p>
                            <div class="flex col gap--1">
                                <a href="#" class="text__s primary-light">Adhérer à l'asso</a>
                                <a href="#" class="text__s primary-light">Accéder à l'espace membre</a>
                            </div>
                        </div>
                        <div class="flex col gap--4">
                            <p class="text__m secondary-orange">
                                Contact
                            </p>
                            <div class="flex col gap--1">
                                <a href="#" class="text__s primary-light">Formulaire de contact</a>
                                <a href="#" class="text__s primary-light">Politique de confidentialité</a>
                                <a href="#" class="text__s primary-light">Mentions légales</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex col gap--4 w--100">
                    <div class="flex row align--center justify--end gap--4 pb--4 border--bottom border-stroke-light col-mobile align-mobile--end">
                        <a class="btn btn__light" href="#">Adhérer à l'asso</a>
                        <a class="btn" href="#">Espace membre</a>
                    </div>
                    <div class="w--100 flex row align--center justify--space-between gap--4 primary-light col-mobile align-mobile--end">
                        <a class="" href="#">2024 - Site réalisé par Studio Khi</a>
                        <a class="" href="#">Instagram</a>
                    </div>
                </div>
            </div>
        </footer>
    </main>
    </body>
</html>
