{% extends 'base.html.twig' %}

{% block body %}

    <section class="container__large secondary-dark--bg primary-light">
        <div class="container mt--10">
            <h1 class="mb--5">Oups, on s'est perdu...</h1>
            <a class="underline" href="{{ path('app_index') }}">Retourner sur le site</a>
        </div>
    </section>

{% endblock %}